@media only screen and (min-width: 768px) {
  #admin-panel {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 50%;
  }

  /* ======================================= */

  #menu {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 15%;
    margin: 0 2rem;
  }

  #menu > div {
    cursor: pointer;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 5px 5px 5px grey;
    flex: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  #menu > div:hover {
    background-color: lightgrey;
  }

  #task-manager-wrapper {
    flex: 0 0 50%;
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid green;
  }

  #task-div {
    flex: 0 80%;
    display: flex;
    flex-flow: column nowrap;
  }

  #user-manager {
    flex: 0 0 20%;
  }

  #user-manager > * {
    margin-bottom: 1rem;
  }

  #showUserCreator {
    width: 100%;
  }

  .userlist {
    width: 50%;
  }

  #task-manager {
    display: flex;
    flex-flow: row wrap;
  }

  #tasks {
    width: 100%;
    border-collapse: collapse;
  }
  #tasks .cancel,
  #tasks .reset {
    padding: 0;
  }

  #tasks td {
    border: 1px solid #ddd;
    padding: 0.7rem;
    text-align: center;
  }

  #tasks .cancel button,
  #tasks .reset button {
    width: 100%;
    height: 3rem;
    padding: 0;
  }

  #tasks th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #4caf50;
    color: white;
  }

  /* ======================================= */

  #userSelectionCreateTask-wrapper {
    display: flex;
    flex-flow: row nowrap;
    border: solid 1px red;
  }

  #userlist {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 20%;
  }
  #userlist ul {
    margin: 0;
    padding: 0;
  }
  #userlist li {
    list-style: none; /* Remove default bullets */
    vertical-align: middle;
    font-size: 1.3rem;
    border:1px solid black;
    border-radius: 3px;
    margin-bottom: 0.5rem;
  }

  #userlist .selected {
    background: lightgrey;
  }

  #userlist li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  #userlist li figure {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    margin-right: 0.5rem;
  }

  #userlist li figure.online {
    color: green;
  }

  #userlist li figure.offline {
    color: red;
  }

  /*
  #userlist li.online::before {
    content: "\2022"; 
    color: green; 
    font-weight: bold; 
    display: inline-block; 
    width: 3rem; 
    font-size: 4rem;
    padding: 0;
    text-align: center;
    border: solid 1px black;
  }

  #userlist li.offline::before {
    content: "\2022"; 
    color: red; 
    font-weight: bold; 
    display: inline-block; 
    width: 3rem; 
    font-size: 4rem;
    padding: 0;

    text-align: center;
    border: solid 1px black;
  }


*/
  #create-task {
    display: flex;
    justify-content: center;
    flex:0 20%;
  }

  #create-task form {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 50%;
  }

  #create-task form > * {
    flex-grow: 1;
  }

  #create-task form textarea {
    flex-grow: 4;
  }

  #user-creator form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #user-creator > p {
    margin: 0;
    text-align: right;
    font-size: 1.3rem;
    cursor: pointer;
  }

  /* ======================================= */


}
