@media only screen and (min-width: 768px) {
  #admin-panel {
    flex-basis: 95%;
    display: flex;
    flex-flow: row nowrap;
  }

  /* ======================================= */

  #menu {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 15%;
    border: 1px solid red;
  }

  #menu > div {
    cursor: pointer;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 5px 5px 5px grey;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  #menu > div:hover{
    background-color: lightgrey;
  }

  #task-manager-wrapper {
    flex: 0 0 30%;
    border: 2px solid green;
  }

  #user-manager {
    flex: 0 0 30%;

    border: 2px solid green;
  }

  #user-manager > * {
    margin-bottom: 1rem;
  }

  #showUserCreator {
    width: 100%;
  }

  .userlist {
    width: 50%;
  }

  #task-manager {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-flow: row wrap;
  }

  #tasks {
    width: 100%;
    border-collapse: collapse;
  }
  #tasks .cancel {
    padding: 0;
  }
  #tasks td {
    border: 1px solid #ddd;
    padding: 0.7rem;
    text-align: center;
  }

  #tasks .cancel button {
    width: 100%;
    height: 3rem;

    padding: 0;
  }

  #tasks th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #4caf50;
    color: white;
  }

  /* ======================================= */

  #userSelectionCreateTask-wrapper {
    display: flex;
    flex-flow: row nowrap;
    border: solid 1px red;
  }

  #userlist {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 40%;
  }
  #userlist ul {
    margin: 0;
    padding: 0;
  }
  #userlist li {
    list-style: none; /* Remove default bullets */
    vertical-align: middle;
    font-size: 1.3rem;
  }

  #userlist .selected {
    background: grey;
  }

  #userlist li.online::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: green; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 3rem; /* Also needed for space (tweak if needed) */
    font-size: 4rem;
    padding: 0;
    text-align: center;
    border: solid 1px black;
  }

  #userlist li.offline::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 3rem; /* Also needed for space (tweak if needed) */
    font-size: 4rem;
    padding: 0;

    text-align: center;
    border: solid 1px black;
  }

  #create-task {
    flex: 1 60%;
  }

  #create-task form {
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
  }

  #create-task form > * {
    flex-grow: 1;
  }

  #create-task form textarea {
    flex-grow: 4;
  }

  #user-creator form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #user-creator > p {
    margin: 0;
    text-align: right;
    font-size: 1.3rem;
    cursor: pointer;
  }

  /* ======================================= */

  #reports {
    flex: 0 40%;
    display: flex;
  }

  #tasksPerStatus {
    text-transform: capitalize;
  }
}
