@media only screen and (min-width: 768px) {
  #calendar-wrapper{
    flex: 0 35%;
  }
  #calendar {
    display: flex;
    flex-flow: column;
    border:1px solid grey;
    box-shadow: 5px 5px 5px grey;
  }

  /* ================================== */

  #calendar-head {
    color: #999;
    text-transform: uppercase;
    cursor: default;
  }

  #year-selection {
  }

  #year-selection p {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    margin:0;
  }
  #month-selection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  #month-selection > *{
    margin:0;
  }

  #month-selection figure {
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
  }
  .hidden {
    visibility: hidden;
  }
  #month-name {
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
  }

  #month-name:hover {
    border: 1px solid black;
    border-radius: 4px;
  }

  #day-names {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-bottom: 1px dashed black;
  }

  .day-name {
    flex-basis: 14%;
    text-align: center;
    font-size: 1.1rem;
  }

  /* ================================== */

  #main-calendar div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .day {
    text-align: center;
    height: auto;
    flex-basis: 14%;
    cursor: pointer;
    font-size: 1rem;
  }

  .day:hover {
    border: 1px solid black;
  }

  .day.day-clicked {
    border: 2px solid green;
  }

  .day:before {
    content: "";
    padding-top: 100%;
  }

  .day p {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }

  /* ==========================================*/

  .day-name {
    font-weight: bold;
  }

  #next:hover,
  #previous:hover {
    background-color: #f5821e;
  }

  .today {
    cursor: pointer;
    color: red;
  }
  .today:hover {
    border: 1px double black;
  }
}
