* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* MOBILE SETUP */
/*
.login form {
    display: flex;
    flex-flow: row wrap;
}

.login form>* {
    flex: 1 100%;
}
*/

/* TASKS ON ADMIN PANEL */
/*
#tasks {
    border-collapse: collapse;
    width: 100%;
}

#tasks td,
#tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#new-task {
    display: flex;
    flex-flow: row wrap;
}*/

/* TASKS ON USER PANEL */
/*
#user-panel {
    display: flex;
    flex-flow: row wrap;
}

#user-panel div {
    flex: 1 100%;
    border: 1px solid grey;
}



.task {}

.task p {
    margin: 0px;
    font-size: 0.8rem;
}
*/

#board {
  height: calc(var(--vh, 1vh) * 200);
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 1px solid blue;
  }


#userinfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

#userinfo p {
  margin-right: 0.5rem;
  font-weight: bold;
}

#userinfo svg {
  color: #0088d2;
}

#userinfo svg:hover {
  color: #9cdcfe;
}

#user-smallmenu {
  position: fixed;
  top: 5%;
  border: 1px solid gray;
  display: flex;
  flex-flow:row wrap;
}

#user-smallmenu button {
  flex:1 100%;
  border:none;
  margin-bottom:0.5rem;
}


#user-smallmenu button:hover {
background-color: lightgray;
}

/* ========================================DESKTOP SETUP===========================================*/
@media only screen and (min-width: 768px) {
  #root {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  #board {
    height: 100%;
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 1px solid blue;
  }

  #userinfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 0 5%;
    margin: 0 2rem;
    margin-bottom:1rem;
    border-style: outset;
    border-right:0;
    border-left:0;

  }
  #userinfo p {
    margin-right: 0.5rem;
    font-weight: bold;
  }

  #userinfo svg {
    color: #0088d2;
  }

  #userinfo svg:hover {
    color: #9cdcfe;
  }

  #user-smallmenu {
    position: fixed;
    top: 5%;
    border: 1px solid gray;
    display: flex;
    flex-flow:row wrap;
  }

  #user-smallmenu button {
    flex:1 100%;
    border:none;
    margin-bottom:0.5rem;
  }


  #user-smallmenu button:hover {
  background-color: lightgray;
  }

  .login {
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .login form {
    display: flex;
    flex: 0 0 20%;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .login form > * {
    flex: 0 0 3%;
  }

}

.new {
  background: yellow;
}

.done {
  background: grey;
}

/*
#userlist .online {
  border: 1px solid green;
}

#userlist .offline {
  border: 1px solid red;
} */
