* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

/* MOBILE SETUP */
/*
.login form {
    display: flex;
    flex-flow: row wrap;
}

.login form>* {
    flex: 1 100%;
}
*/




/* TASKS ON ADMIN PANEL */
/*
#tasks {
    border-collapse: collapse;
    width: 100%;
}

#tasks td,
#tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#new-task {
    display: flex;
    flex-flow: row wrap;
}*/



/* TASKS ON USER PANEL */
/*
#user-panel {
    display: flex;
    flex-flow: row wrap;
}

#user-panel div {
    flex: 1 100%;
    border: 1px solid grey;
}



.task {}

.task p {
    margin: 0px;
    font-size: 0.8rem;
}
*/


/* ========================================DESKTOP SETUP===========================================*/
@media only screen and (min-width: 768px) {
    #root {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    #board {
        height: 100%;
        flex-basis: 30vw;
        border: 1px solid blue;
    }


    .login {
        display: flex;
        justify-content: center;

    }

    .login form {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 60%;
    }


    .login form>* {
        flex: 1 100%;
    }


    #admin-panel {}



    .userlist {
        width: 50%;
    }





    /* TASKS ON ADMIN PANEL */
    #task-manager {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-flow: row wrap;
    }

    #tasks {
        width: 100%;
        border-collapse: collapse;
    }

    #tasks td {
        border: 1px solid #ddd;
        padding: 0.7rem;
    }

    #tasks th {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        background-color: #4CAF50;
        color: white;
    }


    #new-task form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #new-task form>* {
        flex-basis: 70%;
    }






    /* TASKS ON USER PANEL */
    #user-panel {
        display: flex;
        flex-flow: row wrap;
        width: 20vw;
    }

    #user-panel div {
        flex: 1 100%;
        border: 1px solid grey;
    }


    .task {}

    .task p {
        margin: 5px;
    }


}






.new {
    background: yellow;
}


.done {
    background: grey;
}


.userlist .active {
    background: grey;
}