.login {
	display:flex;
	justify-content: center;
	align-items:center;
}
.login form {
	display:flex;
	flex-flow:row wrap;
	width:20vw;
}

form > *{
	flex:1 100%;
}

.new {
	background: yellow;
}


.done {
	background: grey;
}

